$clr-primary: #f5c95c;
$clr-secondary: #f1d07e;
$clr-primary-hover: $clr-secondary;
$clr-black: #000;
$clr-white: #fff;

$fs-400: 1.6rem;
$ff-heading: 'Russo One', sans-serif;
$ff-primary: 'Heebo', sans-serif;
$ff-icons: 'elementskit';

@font-face {
  font-family: elementskit;
  src: url('/src/styles/fonts/elementskit.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
