---
import Layout from '../layouts/Layout.astro'
import Header from '../layouts/Header.astro'
import Card from '../components/Card.astro'
import Swiper from 'swiper'
import { Navigation, Pagination } from 'swiper/modules'
import 'swiper/css'
import 'swiper/css/navigation'
import 'swiper/css/pagination'
import Hero from '../components/Hero.astro'
---

<Layout title="Opravy promáčklin bez lakování metodou PDR | KaroserieDoc" description="Test">
    <main>
        <Hero />
    </main>
</Layout>

<style lang="scss">
    main {
    }
</style>
