---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import USP from '../components/USP.astro'
import Services from '../components/Services.astro'
import Title from '../components/Title.astro'

const uspItems = [
    {
        title: 'Opravy metodou PDR',
        text: 'Opravy promáčklin bez lakování metodou PDR',
    },
    {
        title: 'Ochranné nástřiky dutin/podvozků',
        text: 'Profesionální ošetření podvozku, karoserie a dutin vašeho vozu.',
    },
    {
        title: 'Drobné klempířské/lakýrnické práce',
        text: 'Lakování/vyvařování jednotlivých dílů karoserie',
    },
]
---

<Layout title="Opravy promáčklin bez lakování metodou PDR | KaroserieDoc" description="Test">
    <main>
        <Hero />
        <USP items={uspItems} />
        <section class="services-section">
            <Title subtitle="Co nabízíme" title="VŠE NA JEDNOM MÍSTĚ." position="center" />
            <div class="container">
                <Services />
            </div>
        </section>
    </main>
</Layout>

<style lang="scss">
    .services-section {
        padding: 5rem 0;
    }
</style>
