---
import { useTranslations } from "../i18n/utils";
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";

const lang = 'cs';
const t = useTranslations(lang);
---

<script type="module">
    import * as UC from 'https://cdn.jsdelivr.net/npm/@uploadcare/file-uploader@v1/web/file-uploader.min.js'
    import csLocale from 'https://cdn.jsdelivr.net/npm/@uploadcare/file-uploader@v1/locales/file-uploader/cs.min.js'
    import deLocale from 'https://cdn.jsdelivr.net/npm/@uploadcare/file-uploader@v1/locales/file-uploader/de.min.js'

    function hasDeInUrl() {
        return window.location.pathname.includes('/de/')
    }

    const locale = hasDeInUrl() ? 'de' : 'cs'

    UC.defineLocale('cs', csLocale)
    UC.defineLocale(locale, locale === 'de' ? deLocale : csLocale)
    UC.defineComponents(UC)

    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('contactForm')
        const uploader = document.querySelector('uc-file-uploader-regular')

        form.addEventListener('submit', async (e) => {
            e.preventDefault()

            const formData = new FormData(form)

            const data = Object.fromEntries(formData.entries())
            delete data.files

            try {
                const response = await fetch('https://submit-form.com/ZNtwxLz1P', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        Accept: 'application/json',
                    },
                    body: JSON.stringify(data),
                })

                if (response.ok) {
                    form.reset()
                    uploader.value = []
                    document.querySelector('.message-success').style.display = 'block'
                } else {
                    document.querySelector('.message-error').style.display = 'block'
                }
            } catch (error) {
                console.error('Error:', error)
                alert('An error occurred. Please try again.')
            }
        })
    })
</script>

<Layout title="Kontakt" description="Kontakt">
    <uc-config
        ctx-name="my-uploader"
        pubkey="dc94fb893736715b0a69"
        locale-name="cs"
        img-only="true"
        multiple="true"
        max-local-file-size-bytes="524288000"
        use-cloud-image-editor="true"
        source-list="local, camera"
        group-output>
    </uc-config>
    <PageHeader pageName={t('contact.contactPageTitle')} imageSrc="/images/DSC_5058.webp" />

    <main>
        <section class="contact-section">
            <div class="container">
                <div class="tel">
                    <h2>{t('contact.consultation')}</h2>
                    <a href={`tel:${t('header.tel.number')}`}>{t('header.tel.number')}</a>
                </div>
                <div class="contact-form-wrapper">
                    <form action="https://submit-form.com/ZNtwxLz1P" id="contactForm">
                        <div class="form-group">
                            <label for="name">{t('form.name')}</label>
                            <input
                                type="text"
                                id="name"
                                name="name"
                                placeholder={t('form.namePlaceholder')}
                                required=""
                            />
                        </div>

                        <div class="form-group col-50">
                            <label for="tel">{t('form.tel')}</label>
                            <input
                                type="text"
                                id="tel"
                                name="tel"
                                placeholder={t('form.telPlaceholder')}
                                required=""
                            />
                        </div>

                        <div class="form-group col-50">
                            <label for="email">{t('form.email')}</label>
                            <input
                                type="email"
                                id="email"
                                name="email"
                                placeholder={t('form.mailPlaceholder')}
                                required=""
                            />
                        </div>

                        <div class="form-group">
                            <label for="message">{t('form.message')}</label>
                            <textarea
                                id="message"
                                name="message"
                                placeholder={t('form.messagePlaceholder')}
                                required=""></textarea>
                        </div>

                        <div class="form-group">
                            <div class="uploadcare-wrapper">
                                <uc-file-uploader-regular ctx-name="my-uploader" class="my-config uc-dark">
                                    <uc-form-input ctx-name="my-uploader"></uc-form-input>
                                </uc-file-uploader-regular>
                            </div>
                            <div class="message message-success">{t('form.messageSuccess')}</div>
                            <div class="message message-error">{t('form.messageError')}</div>
                        </div>
                        <button class="btn btn-primary">{t('form.send')}</button>
                    </form>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d164455.54677639052!2d12.413350794531251!3d49.90597620000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a07d67c7cd50b9%3A0x15f7903e6ed3d5df!2sOpravy%20prom%C3%A1%C4%8Dklin%20metodou%20PDR%20%2F%20KaroserieDoc!5e0!3m2!1sen!2scz!4v1723992948026!5m2!1sen!2scz"
                        width="50%"
                        height="auto"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
    </main>

    <script>
        const changeFileUploadText = () => {
            const isGerman = window.location.pathname.includes('/de/')

            setTimeout(() => {
                document.querySelector(
                    '#contactForm > div:nth-child(5) > div.uploadcare-wrapper > uc-file-uploader-regular > uc-simple-btn > uc-drop-area > button > span'
                ).textContent = isGerman
                    ? 'Hier konnen Sie ein Foto von Ihrem Schaden hochladen'
                    : 'Zde muzete nahrat fotku vaseho poskozeni'
            }, 100)
        }

        changeFileUploadText()

        document.addEventListener('astro:after-swap', () => {
            changeFileUploadText()
        })
    </script>

    <style lang="scss">
        .my-config {
            --uc-simple-btn-hover: $clr-primary-hover;
        }
        .services-section {
            padding-top: 5rem;
        }
        .contact-section {
            margin-top: 5rem;

            .btn {
                width: 100%;
            }
        }
        .message {
            margin-top: 10px;
            font-size: 14px;
            display: none;

            &.message-error {
                color: #d9534f;
                display: none;
            }
            &.message-success {
                color: #5cb85c;
            }
        }

        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 19px;
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;

            label {
                margin-bottom: 5px;
                // color: $clr-primary;
                font-family: $ff-heading;
            }

            input {
                height: 55px;
                padding: 10px;
                color: $clr-black;
            }

            textarea {
                height: 200px;
                padding: 10px;
                color: $clr-black;
            }

            &.col-50 {
                width: 50%;
                @media (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
        .tel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 3rem;

            h2 {
                font-size: 3rem;
                @media (max-width: 767px) {
                    font-size: 2rem;
                }
            }
            a {
                color: $clr-primary;
                font-weight: 700;
                font-size: 2rem;
            }
        }
        iframe {
            @media (max-width: 1024px) {
                width: 100%;
                height: 300px;
            }
        }
        .contact-form-wrapper {
            display: flex;

            @media (max-width: 1024px) {
                flex-direction: column;
            }

            form {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                background-color: #1d2226;
                padding: 70px 40px;

                @media (max-width: 1024px) {
                    width: 100%;
                    padding: 30px 20px;
                }
            }
        }

        .uploadcare-wrapper {
            .uploadcare--widget__button {
                background-color: $clr-primary;
                color: $clr-black;
                border: none;
                padding: 10px 20px !important;
                font-family: $ff-primary;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    background-color: $clr-primary-hover;
                }
            }

            .uploadcare--widget__text {
                font-family: $ff-primary;
                font-size: 14px;
            }

            .uploadcare--progress_type_canvas {
                stroke: $clr-primary;
            }
        }
        uc-file-uploader-regular > uc-modal > uc-upload-list > .uc-toolbar > .uc-cancel-btn.uc-secondary-btn {
            // display: none;
            background-color: red !important;
        }
    </style>
</Layout>
