---
import i18next from 'i18next'
import { localizePath, localizeUrl } from 'astro-i18next'
import { t } from 'i18next'
import { LanguageSelector } from 'astro-i18next/components'
---

<nav class="site-nav">
    <ul>
        <li><a href={localizePath('/', i18next.language)}>{t('nav.home')}</a></li>
        <li><a id="about-link" href={localizePath('/o-nas', i18next.language)}>{t('nav.about')}</a></li>
        <li><a href={localizePath('/galerie', i18next.language)}>{t('nav.gallery')}</a></li>
        <li>
            <a id="services-link" href={localizePath('/sluzby', i18next.language)}>{t('nav.services')}</a>
        </li>
        <li><a href={localizePath('/kontakt', i18next.language)}>{t('nav.contact')}</a></li>
        <LanguageSelector showFlag={true} languageMapping={{ cs: '', de: '' }} class="lang-switcher" />
    </ul>
</nav>
<script>
    function updateAboutLink() {
        const aboutLinks = document.querySelectorAll('#about-link')
        const htmlLang = document.documentElement.lang

        aboutLinks.forEach((aboutLink) => {
            if (htmlLang === 'cs') {
                aboutLink.setAttribute('href', '/#about-section')
            } else {
                aboutLink.setAttribute('href', `/${htmlLang}/#about-section`)
            }
        })
    }

    document.addEventListener('DOMContentLoaded', updateAboutLink)
    document.addEventListener('astro:after-swap', updateAboutLink)
</script>

<style lang="scss">
    nav {
        width: 50%;

        @media (max-width: 1023px) {
            display: none;
        }

        .lang-switcher {
            background-color: $clr-black;
            cursor: pointer;
            @media (min-width: 1024px) {
                display: none;
            }
        }
    }
    ul {
        display: flex;
        justify-content: center;
        gap: 3.2rem;

        li {
            display: flex;

            a {
                color: $clr-white;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 1.6rem 0;

                &.active-page {
                    color: $clr-primary;
                }
            }
        }
    }
</style>
