---
export interface Props {
    pageName: string
    imageSrc: string
    customStyle?: string
    customClass?: string
}
const { pageName, imageSrc, customClass } = Astro.props
---

<section class={`page-header ${customClass}`} style={`background-image: url(${imageSrc})`}>
    <h1>{pageName}</h1>
</section>

<style lang="scss">
    .page-header {
        position: relative;
        min-height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5) inset;

        &.service-detail--ochrane-nastriky-dutin-a-podvozku {
            background-position-y: -50rem;

            @media (max-width: 1600px) {
                background-position-y: -30rem;
            }
            @media (max-width: 1400px) {
                background-position-y: -10rem;
            }
        }

        &.service-detail--pneuservis {
            background-position-y: -130rem;

            @media (max-width: 1600px) {
                background-position-y: -110rem;
            }
            @media (max-width: 1400px) {
                background-position-y: -90rem;
            }
            @media (max-width: 1050px) {
                background-position-y: -70rem;
            }
            @media (max-width: 900px) {
                background-position-y: -60rem;
            }
            @media (max-width: 767px) {
                background-position-y: -20rem;
            }
        }

        &.service-detail--opravy-vozidel-po-kroupach-bez-poškození-laku {
            background-position: center -153rem;

            @media (max-width: 1600px) {
                background-position: center -130rem;
            }
            @media (max-width: 1400px) {
                background-position: center -110rem;
            }
            @media (max-width: 1050px) {
                background-position: center -80rem;
            }
            @media (max-width: 900px) {
                background-position: center -60rem;
            }
            @media (max-width: 767px) {
                background-position: center -20rem;
            }
        }

        &.service-detail--opravy-deformaci-bez-lakovani-metodou-pdr {
            background-position: center -104rem;

            @media (max-width: 1600px) {
                background-position: center -87rem;
            }
            @media (max-width: 1400px) {
                background-position: center -75rem;
            }
            @media (max-width: 1050px) {
                background-position: center -50rem;
            }
            @media (max-width: 900px) {
                background-position: center -40rem;
            }
            @media (max-width: 767px) {
                background-position: center -20rem;
            }
        }

        &.page-header--galerie {
            background-position-y: -50rem;

            @media (max-width: 1500px) {
                background-position-y: -32rem;
            }

            @media (max-width: 991px) {
                background-position-y: -20rem;
            }

            @media (max-width: 767px) {
                background-position-y: -7rem;
            }
        }
        @media (max-width: 767px) {
            min-height: 190px;
        }

        h1 {
            position: relative;
            text-align: center;
            z-index: 3;
            color: white;
            font-size: 3.2rem;
            max-width: 500px;

            @media (max-width: 767px) {
                font-size: 2.4rem;
                max-width: 345px;
            }
        }
    }
</style>
