---
import Title from '../components/Title.astro';
import RatingCard from '../components/RatingCard.astro';
import { useTranslations, type Lang } from '../i18n';

interface Props {
    lang?: Lang;
}

const { lang = 'cs' } = Astro.props;
const t = useTranslations(lang);
---

<div class="ratings">
    <Title title={t('ratings.title')} subtitle={t('ratings.subtitle')} position="center" />
    <div class="ratings-wrapper">
        <div class="swiper mySwiper ratings-swiper" data-direction="right" data-speed="slow">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <RatingCard
                        link="https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSURtdWZ5Vm1BRRAB!2m1!1s0x0:0x15f7903e6ed3d5df!3m1!1s2@1:CIHM0ogKEICAgIDmufyVmAE%7CCgsI0bzrjwYQ2OCibQ%7C?coh=219816&entry=tts&g_ep=EgoyMDI0MDgxNC4xKgBIAVAD"
                        imgSrc="/images/reviews/review-1.webp"
                        name={t('ratings.review1.name')}
                        description={t('ratings.review1.description')}
                        date={t('ratings.review1.date')}
                        stars={5}
                    />
                </div>
                <div class="swiper-slide">
                    <RatingCard
                        link="https://maps.app.goo.gl/kNHxsnDNX8UrkhtV7"
                        imgSrc="/images/reviews/review-2.webp"
                        name={t('ratings.review2.name')}
                        description={t('ratings.review2.description')}
                        date={t('ratings.review2.date')}
                        stars={5}
                    />
                </div>
                <div class="swiper-slide">
                    <RatingCard
                        link="https://maps.app.goo.gl/svWzkndeamB43FuK6"
                        imgSrc="/images/reviews/review-3.webp"
                        name={t('ratings.review3.name')}
                        description={t('ratings.review3.description')}
                        date={t('ratings.review3.date')}
                        stars={5}
                    />
                </div>
                <div class="swiper-slide">
                    <RatingCard
                        link="https://maps.app.goo.gl/PFHEVPqqQDCKrwAx7"
                        imgSrc="/images/reviews/review-4.webp"
                        name={t('ratings.review4.name')}
                        description={t('ratings.review4.description')}
                        date={t('ratings.review4.date')}
                        stars={5}
                    />
                </div>
                <div class="swiper-slide">
                    <RatingCard
                        link="https://maps.app.goo.gl/a3taNkBFd9Yc2oiJ9"
                        imgSrc="/images/reviews/review-5.webp"
                        name={t('ratings.review5.name')}
                        description={t('ratings.review5.description')}
                        date={t('ratings.review5.date')}
                        stars={5}
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    import Swiper from 'swiper/bundle'
    import { Autoplay } from 'swiper/modules'
    import 'swiper/css'

    function addAnimation() {
        const animationAdded = document.querySelector('.ratings-wrapper.animation-added')

        if (animationAdded) return

        const ratingsWrapper = document.querySelector('.ratings-wrapper')
        let swiper2 = new Swiper('.ratings-swiper', {
            spaceBetween: 10,
            slidesPerView: 1,
            loop: true,
            autoplay: {
                delay: 0,
                disableOnInteraction: false,
            },
            speed: 10000,
            grabCursor: true,
            breakpoints: {
                767: {
                    slidesPerView: 3,
                },
            },
        })

        var transformValue
        const swiperWrapper = document.querySelector('.ratings-wrapper .swiper-wrapper')

        swiperWrapper.addEventListener('mouseenter', function () {
            swiper2.autoplay.stop()
            transformValue = this.style.transform
            this.style.transitionDuration = '0ms'
            this.style.transform = 'translate3d(' + swiper2.getTranslate() + 'px, 0px, 0px)'
        })

        swiperWrapper.addEventListener('mouseleave', function () {
            this.style.transitionDuration = swiper2.params.speed + 'ms'
            this.style.transform = transformValue
            swiper2.autoplay.start()
        })
        swiperWrapper.addEventListener('touchstart', function () {
            swiper2.autoplay.stop()
            transformValue = this.style.transform
            this.style.transitionDuration = '0ms'
            this.style.transform = 'translate3d(' + swiper2.getTranslate() + 'px, 0px, 0px)'
        })

        swiperWrapper.addEventListener('touchend', function () {
            this.style.transitionDuration = swiper2.params.speed + 'ms'
            this.style.transform = transformValue
            swiper2.autoplay.start()
        })
        ratingsWrapper.classList.add('animation-added')
    }

    addAnimation()

    document.addEventListener('DOMContentLoaded', addAnimation)
    document.addEventListener('astro:after-swap', addAnimation)
</script>
<style lang="scss">
    .swiper-wrapper {
        transition-timing-function: linear !important;
    }
    .ratings-wrapper {
        padding-block: 1rem;
        -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    }
</style>
