<div class="social-links">
    <a href="https://www.facebook.com/karoseriedoc" target="_blank" class="facebook">
        <img src="/images/facebook-circle.svg" alt="Facebook" width="24" height="24" />
    </a>
    <a href="https://www.instagram.com/karoseriedoc/" target="_blank" class="instagram">
        <img src="/images/instagram.svg" alt="Instagram" width="24" height="24" />
    </a>
</div>
