---
import Layout from "../../layouts/Layout.astro";
import PageHeader from "../../components/PageHeader.astro";
import Title from "../../components/Title.astro";
import Services from "../../components/Services.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("de");
---

<Layout title="Služby" description="Služby">
    <PageHeader pageName={t('services.servicesPageTitle')} imageSrc="/images/DSC_5264.webp" />
    <main>
        <section class="services-section">
            <Title subtitle={t('services.subtitle')} title={t('services.title')} position="center" />
            <div class="container">
                <Services />
            </div>
        </section>
    </main>
</Layout>

<style lang="scss">
    .services-section {
        padding-top: 5rem;
    }
</style>
