---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import USP from "../../components/USP.astro";
import Services from "../../components/Services.astro";
import Title from "../../components/Title.astro";
import About from "../../components/About.astro";

changeLanguage("de");

const currentLang = i18next.language;
---

<Layout
    title="Opravy promáčklin bez lakování metodou PDR | KaroserieDoc"
    description="KaroserieDoc nabízí Opravy promáčklin bez lakování metodou PDR,Ochranné nástřiky dutin/podvozků, Drobné klempířské/lakýrnické práce & další.">
    <main>
        <Hero lang={currentLang === 'de' ? 'de' : 'cs'} />
        <USP />
        <section class="services-section">
            <Title subtitle={t('services.subtitle')} title={t('services.title')} position="center" />
            <div class="container">
                <Services />
            </div>
        </section>
        <About />
    </main>
</Layout>

<style lang="scss">
    .services-section {
        padding: 4rem 0;

        @media (max-width: 767px) {
            padding: 2.5rem 0;
        }
    }
</style>
