---
import FooterBottom from '../components/FooterBottom.astro'
import Ratings from '../components/Ratings.astro'
---

<footer class="footer">
    <div class="footer__container container">
        <Ratings />
        <div class="footer-top">
            <div class="footer-top-item">
                <div class="icon map"></div>
                <div class="footer-info-item">
                    <a
                        href="https://www.google.com/maps/dir/?api=1&destination=Chodová+Planá+488,+Chodová+Planá+348+13"
                        target="_blank"
                        class="footer-info-item__title">
                        <h4>Addresa</h4>
                        <div class="footer-info-item__content">
                            <p>Chodová Planá 488</p>
                            <p>Chodová Planá, 348 13</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="footer-top-item">
                <div class="icon tel"></div>
                <a href="tel:+420 777 076 174" class="footer-info-item">
                    <div class="footer-info-item__title">
                        <h4>Zavolejte</h4>
                    </div>
                    <div class="footer-info-item__content">
                        <p>+420 777 076 174</p>
                    </div>
                </a>
            </div>
            <a href="https://www.instagram.com/karoseriedoc/" target="_blank" class="footer-top-item">
                <div class="icon ig"></div>
                <div class="footer-info-item">
                    <div class="footer-info-item__title">
                        <h4>Instagram</h4>
                    </div>
                    <div class="footer-info-item__content">
                        <p>@karoseriedoc</p>
                    </div>
                </div>
            </a>
        </div>
        <FooterBottom />
        <div class="signature"></div>
    </div>
</footer>

<style lang="scss">
    .footer {
        padding-top: 3rem;
        margin-top: 12rem;
        background-color: #1d2226;

        .footer-top {
            display: flex;
            background-color: #54595f;

            @media (max-width: 767px) {
                flex-direction: column;
            }

            .footer-top-item {
                display: flex;
                width: 33.33333%;
                padding: 2rem;
                align-items: center;
                &:not(:last-child) {
                    border-right: solid 1px #7a7a7a;
                }

                @media (max-width: 767px) {
                    &:not(:last-child) {
                        width: 100%;
                        border-bottom: solid 1px #7a7a7a;
                    }
                }

                .icon {
                    margin-right: 2rem;

                    @media (max-width: 767px) {
                        min-width: 6rem;
                    }
                    &:before {
                        font-size: 4.5rem;
                        font-family: $ff-icons;
                        color: $clr-primary;
                    }
                    &.map {
                        &::before {
                            content: '\e910';
                        }
                    }
                    &.tel {
                        &::before {
                            content: '\ea54';
                            font-size: 4.7rem;
                        }
                    }
                    &.ig {
                        &::before {
                            content: '\eb6c';
                            font-size: 4.7rem;
                        }
                    }
                }
                .footer-info-item__title h4 {
                    font-size: 2rem;
                    font-weight: 700;
                }

                &__content {
                }
            }
        }
    }
</style>
