<footer class="footer">
    <div class="footer__container container">
        <div class="footer-top">
            <div class="footer-top-item">
                <div class="icon map"></div>
                <div class="footer-info-item">
                    <div class="footer-info-item__title">
                        <h4>Addresa</h4>
                    </div>
                    <div class="footer-info-item__content">
                        <p>Chodová Planá 488</p>
                        <p>Chodová Planá, 348 13</p>
                    </div>
                </div>
            </div>
            <div class="footer-top-item">
                <div class="icon tel"></div>
                <div class="footer-info-item">
                    <div class="footer-info-item__title">
                        <h4>Addresa</h4>
                    </div>
                    <div class="footer-info-item__content">
                        <p>Chodová Planá 488</p>
                        <p>Chodová Planá, 348 13</p>
                    </div>
                </div>
            </div>
            <div class="footer-top-item">
                <div class="icon ig"></div>
                <div class="footer-info-item">
                    <div class="footer-info-item__title">
                        <h4>Addresa</h4>
                    </div>
                    <div class="footer-info-item__content">
                        <p>Chodová Planá 488</p>
                        <p>Chodová Planá, 348 13</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom"></div>
        <div class="signature"></div>
    </div>
</footer>

<style lang="scss">
    .footer {
        padding-top: 3rem;
        margin-top: 12rem;
        background-color: #1d2226;

        .footer-top {
            display: flex;
            .footer-top-item {
                display: flex;

                &__content {
                }
            }
        }
    }
</style>
