---
import SiteNav from '../components/Navigation.astro'
---

<header class="header">
    <div class="container header-wrapper">
        <a href="/" class="logo">
            Karoserie<span>Doc</span>
        </a>
        <SiteNav />
        <div class="tel">
            <a href="tel:777076174">+420 777 076 174</a>
        </div>
        <div class="hamburger-menu">
            <span></span>
            <div class="mobile-nav">
                <SiteNav />
            </div>
        </div>
    </div>
</header>

<style lang="scss">
    a:not(.logo) {
        font-size: 1.5rem;
    }
    .header {
        padding: 2rem 0;
        background-color: $clr-black;
        top: -130px;
        transition: 0.3s ease-in-out;

        &.sticky {
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;
        }
    }
    .header-wrapper {
        display: flex;
        align-items: center;

        @media (max-width: 1023px) {
            justify-content: space-between;
        }
    }
    .logo {
        width: 25%;
        color: $clr-primary;
        font-size: 3.6rem;
        font-family: $ff-heading;

        @media (max-width: 1199px) {
            font-size: 2.6rem;
        }
        span {
            color: $clr-white;
        }
    }
    .tel {
        text-align: right;
        width: 25%;

        @media (max-width: 1023px) {
            display: none;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;
            &:before {
                font-family: elementskit !important;
                content: '\e976';
                color: $clr-primary;
                font-size: 1.8rem;
            }
        }
    }

    $hamburger-menu-size: 4rem;

    .hamburger-menu {
        height: 3.2rem;
        width: $hamburger-menu-size;
        cursor: pointer;

        @media (min-width: 1024px) {
            display: none;
        }

        span {
            z-index: 100;
            background: $clr-primary;
            border-radius: 0.3rem;
            content: '';
            position: absolute;
            width: $hamburger-menu-size;
            height: 0.6rem;
            margin-top: 1.3rem;

            transition: 0.3s ease-in-out;

            @media (max-width: 767px) {
                width: 3.2rem;
                height: 0.4rem;
            }

            &::before,
            &::after {
                background: $clr-primary;
                border-radius: 0.3rem;
                content: '';
                position: absolute;
                width: $hamburger-menu-size;
                height: 0.6rem;
                transition: 0.3s ease-in-out;

                @media (max-width: 767px) {
                    width: 3.2rem;
                    height: 0.4rem;
                }
            }

            &::before {
                margin-top: -1.2rem;

                @media (max-width: 767px) {
                    margin-top: -1rem;
                }
            }

            &::after {
                margin-top: 1.2rem;
                @media (max-width: 767px) {
                    margin-top: 1rem;
                }
            }
        }

        .site-nav {
            display: flex;
        }

        &.active {
            span {
                background: transparent;

                &::before {
                    margin-top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    margin-top: 0;
                    transform: rotate(-45deg);
                }
            }
        }

        .mobile-nav {
            display: none;
        }
    }
</style>
