---
import SiteNav from '../components/Navigation.astro'
import Logo from '../components/Logo.astro'
import CustomLanguageSelector from '../components/CustomLanguageSelector.astro'
import { useTranslations, getLangFromUrl, type Lang } from '../i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class="top-navigation-bar">
    <div class="container">
        <ul>
            <li class="tel">
                <a href={`tel:${t('header.tel.number')}`}>{t('header.tel.number')}</a>
            </li>
            {lang === 'de' && (
                <li class="tel">
                    <a href="tel:+4915776568537">+49 1577 6568537</a>
                </li>
            )}
        </ul>
        <CustomLanguageSelector customClass="top-nav-lang" />
    </div>
</div>
<header class="header">
    <div class="container header-wrapper">
        <CustomLanguageSelector customClass="header-lang-switcher" />
        <div class="header-logo">
            <Logo />
        </div>
        <SiteNav lang={lang} />
        <div class="tel">
            <div class={`tel-wrapper ${lang === 'de' ? 'tel-wrapper--de' : ''}`}>
                <a href={`tel:${t('header.tel.number')}`} class="tel-number">{t('header.tel.number')}</a>
                {
                    lang === 'de' && (
                        <a href="tel:+4915776568537" class="tel-number">
                            +49 1577 6568537
                        </a>
                    )
                }
                <span class="tel-text">{t('header.tel.cto')}</span>
            </div>
        </div>
        <div class="hamburger-menu">
            <span></span>
        </div>
        <div class="mobile-nav">
            <SiteNav lang={lang} />
            <CustomLanguageSelector customClass="mobile-lang" />
        </div>
    </div>
</header>

<style lang="scss">
    .top-navigation-bar {
        display: none;
        background-color: #1d2226;

        @media (max-width: 767px) {
            display: block;
        }

        .container {
            display: flex;
            align-items: center;
        }

        :global(.top-nav-lang) {
            margin-left: 5px;
            font-size: 2rem;
        }

        ul {
            display: flex;
            gap: 1.2rem;
            padding: 1rem 0;
            flex: 1;

            li {
                display: flex;
                align-items: center;

                &.tel {
                    width: auto;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        font-size: 1.3rem;

                        &:before {
                            font-family: elementskit !important;
                            content: '\e976';
                            color: $clr-primary;
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
    a:not(.logo) {
        font-size: 1.5rem;
    }
    .header-logo {
        width: 25%;
    }
    :global(.header-lang-switcher) {
        position: absolute !important;
        right: 1.5rem;
        cursor: pointer;
        font-size: 2.8rem;
        background-color: $clr-black;

        @media (max-width: 1023px) {
            display: none !important;
        }
    }
    :global(.mobile-lang) {
        display: none !important;

        @media (max-width: 1023px) {
            display: block !important;
        }
    }
    .header {
        padding: 2.8rem 0;
        background-color: $clr-black;
        top: -130px;
        transition: 0.3s ease-in-out;

        &.sticky {
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;

            @media (max-width: 1023px) {
                position: fixed;
            }
        }
    }
    .header-wrapper {
        display: flex;
        align-items: center;
        position: relative;

        @media (max-width: 1023px) {
            justify-content: space-between;
            position: static;
        }
    }

    .logo {
        width: 25%;

        @media (max-width: 1199px) {
            font-size: 2.6rem;
        }
    }
    .tel {
        text-align: right;
        width: 20%;

        @media (max-width: 1023px) {
            display: none;
        }

        .tel-wrapper {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.2rem;
            position: relative;

            &:before {
                font-family: elementskit !important;
                content: '\e976';
                color: $clr-primary;
                font-size: 1.8rem;
                position: absolute;
                right: calc(100% + 1rem);
                top: 50%;
                transform: translateY(-50%);
            }

            &--de:before {
                right: calc(100% + 1rem);
            }
        }

        .tel-number {
            font-size: 1.6rem;
            font-weight: 600;
            position: relative;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }

        .tel-text {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    $hamburger-menu-size: 4rem;

    .hamburger-menu {
        height: 3.2rem;
        width: $hamburger-menu-size;
        cursor: pointer;

        @media (min-width: 1024px) {
            display: none;
        }

        span {
            z-index: 100;
            background: $clr-primary;
            border-radius: 0.3rem;
            content: '';
            position: absolute;
            width: $hamburger-menu-size;
            height: 0.6rem;
            margin-top: 1.3rem;

            transition: 0.3s ease-in-out;

            @media (max-width: 767px) {
                width: 3.2rem;
                height: 0.4rem;
            }

            &::before,
            &::after {
                background: $clr-primary;
                border-radius: 0.3rem;
                content: '';
                position: absolute;
                width: $hamburger-menu-size;
                height: 0.6rem;
                transition: 0.3s ease-in-out;

                @media (max-width: 767px) {
                    width: 3.2rem;
                    height: 0.4rem;
                }
            }

            &::before {
                margin-top: -1.2rem;

                @media (max-width: 767px) {
                    margin-top: -1rem;
                }
            }

            &::after {
                margin-top: 1.2rem;
                @media (max-width: 767px) {
                    margin-top: 1rem;
                }
            }
        }

        .site-nav {
            display: flex;
        }

        &.active {
            span {
                background: transparent;

                &::before {
                    margin-top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    margin-top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
</style>
