---
import SiteNav from '../components/Navigation.astro'
import Logo from '../components/Logo.astro'
import { LanguageSelector } from 'astro-i18next/components'
import { t } from 'i18next'
import SocialLinks from '../components/SocialLinks.astro'
---

<div class="top-navigation-bar">
    <div class="container">
        <ul>
            <li class="location">
                <div class="icon location"></div>
                <a
                    href="https://www.google.com/maps/dir/?api=1&destination=Chodová+Planá+488,+Chodová+Planá+348+13"
                    target="_blank">
                    Chodová Planá 488, Chodová Planá 348 13
                </a>
            </li>
            <li>
                <div class="icon email"></div>
                <a href="mailto:alexandrmelichar@gmail.com">alexandrmelichar@gmail.com</a>
            </li>
            <li class="tel">
                <a href={`tel:${t('header.tel.number')}`}>{t('header.tel.number')}</a>
            </li>
        </ul>
        <SocialLinks />
        <LanguageSelector showFlag={true} languageMapping={{ cs: '', de: '' }} class="lang-switcher" />
    </div>
</div>
<header class="header">
    <div class="container header-wrapper">
        <LanguageSelector showFlag={true} languageMapping={{ cs: '', de: '' }} class="lang-switcher" />
        <div class="header-logo">
            <Logo />
        </div>
        <SiteNav />
        <div class="tel">
            <a href={`tel:${t('header.tel.number')}`}>
                <div class="tel-wrapper">
                    <span class="tel">{t('header.tel.number')}</span>
                    <span class="tel-text">{t('header.tel.cto')}</span>
                </div>
            </a>
        </div>
        <div class="hamburger-menu">
            <span></span>
        </div>
        <div class="mobile-nav">
            <SiteNav />
            <LanguageSelector showFlag={true} languageMapping={{ cs: '', de: '' }} class="lang-switcher" />
        </div>
    </div>
</header>

<style lang="scss">
    .top-navigation-bar {
        background-color: #1d2226;

        .container {
            display: flex;
        }
        // background-color: $clr-secondary;
        .lang-switcher {
            background-color: #1d2226;
            margin-left: 4px;
            margin-top: 4px;
            display: none;

            @media (max-width: 1023px) {
                display: block;
            }
        }
        ul {
            display: flex;
            gap: 3rem;
            padding: 1rem 0;
            flex: 1;

            li {
                display: flex;
                align-items: center;

                &.tel {
                    @media (min-width: 1024px) {
                        display: none;
                    }
                }

                @media (max-width: 1023px) {
                    &:not(.tel) {
                        display: none;
                    }
                    &.tel {
                        width: 100% !important;
                    }
                }
            }
        }
        a {
            // color: $clr-black;
        }
    }
    a:not(.logo) {
        font-size: 1.5rem;
    }
    .header-logo {
        width: 25%;
    }
    .header {
        padding: 2rem 0;
        background-color: $clr-black;
        top: -130px;
        transition: 0.3s ease-in-out;

        &.sticky {
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;

            @media (max-width: 1023px) {
                position: fixed;
            }
        }

        .lang-switcher {
            position: absolute;
            cursor: pointer;
            right: 1.5rem;
            background-color: $clr-black;

            @media (max-width: 1023px) {
                display: none;
            }
        }
    }
    .header-wrapper {
        display: flex;
        align-items: center;
        position: relative;

        @media (max-width: 1023px) {
            justify-content: space-between;
            position: static;
        }
    }

    .logo {
        width: 25%;

        @media (max-width: 1199px) {
            font-size: 2.6rem;
        }
    }
    .tel {
        text-align: right;
        width: 20%;

        @media (max-width: 1023px) {
            display: none;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;

            &:before {
                font-family: elementskit !important;
                content: '\e976';
                color: $clr-primary;
                font-size: 1.8rem;
            }

            .tel {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1rem;

                // &:before {
                //     font-family: elementskit !important;
                //     content: '\e976';
                //     color: $clr-primary;
                //     font-size: 1.8rem;
                // }
            }
            .tel-text {
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
    }

    $hamburger-menu-size: 4rem;

    .hamburger-menu {
        height: 3.2rem;
        width: $hamburger-menu-size;
        cursor: pointer;

        @media (min-width: 1024px) {
            display: none;
        }

        span {
            z-index: 100;
            background: $clr-primary;
            border-radius: 0.3rem;
            content: '';
            position: absolute;
            width: $hamburger-menu-size;
            height: 0.6rem;
            margin-top: 1.3rem;

            transition: 0.3s ease-in-out;

            @media (max-width: 767px) {
                width: 3.2rem;
                height: 0.4rem;
            }

            &::before,
            &::after {
                background: $clr-primary;
                border-radius: 0.3rem;
                content: '';
                position: absolute;
                width: $hamburger-menu-size;
                height: 0.6rem;
                transition: 0.3s ease-in-out;

                @media (max-width: 767px) {
                    width: 3.2rem;
                    height: 0.4rem;
                }
            }

            &::before {
                margin-top: -1.2rem;

                @media (max-width: 767px) {
                    margin-top: -1rem;
                }
            }

            &::after {
                margin-top: 1.2rem;
                @media (max-width: 767px) {
                    margin-top: 1rem;
                }
            }
        }

        .site-nav {
            display: flex;
        }

        &.active {
            span {
                background: transparent;

                &::before {
                    margin-top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    margin-top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
</style>
