---
import ResetCSS from '@appzic/astro-reset-css'
import Header from '../layouts/Header.astro'
const { title } = Astro.props
---

<!doctype html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Russo+One&display=swap"
            rel="stylesheet"
        />
        <ResetCSS />
        <title>{title}</title>
    </head>

    <body>
        <Header />
        <slot />
        <script src="../script.js"></script>
        <style lang="scss" is:global>
            html {
                font-size: 62.5%;
                background-color: $clr-black;
            }
            body {
                font-size: 1.6rem;
            }
            .container {
                width: 128rem;
                padding: 0 2rem;
                max-width: calc(100% - 4rem);
                margin-left: auto;
                margin-right: auto;

                @media (max-width: 1023px) {
                }
                @media (max-width: 767px) {
                    width: 100%;
                    max-width: calc(100% - 2rem);
                    padding: 0 1rem;
                }
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            .title,
            .sub-title {
                font-family: 'Russo One', sans-serif;
            }

            a {
                color: $clr-white;
                transition: 0.3s;

                &:hover,
                &:focus {
                    color: $clr-primary !important;
                }
            }
        </style>
    </body>
</html>
